body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.2;
}

h1, h2 {
  margin: 0;
}

h3 {
  border-bottom: 1px solid #222;
}

main {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

section {
  margin-bottom: 32px;
  position: relative;
}

section h4 {
  display: inline-block;
}

section p:first-of-type {
  position: absolute;
  right: 0;
  top: 0;
}

img {
  max-width: 100px;
  height: auto;
  position: fixed;
  bottom: 10px;
  right: 10px;
}